<footer style="border-top: 1px solid silver" class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Gestionaire de menu</h5>
                <p>projet imaginé, créé et designé par Sylvain Amianto.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Sources</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/cqlv2/gestion-menu">Front</a>
                    </li>
                    <li>
                        <a href="https://github.com/cqlv2/gestionMenu2">Back</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Remerciment</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Bootstrap</a>
                    </li>
                    <li>
                        <a href="#!">Angular</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/cqlv2"> cqlTeam</a>
    </div>
</footer>