<h3>{{dateSelect| date:'EEEE d MMMM yyyy'}}</h3>


<fieldset>
    <legend>Midi</legend>

    <div class="input-group mb-3 mx-auto">
        <div class="input-group-prepend">
            <label class="input-group-text" for="platMidi1">Plat</label>
        </div>
        <input style="width: 25%;" class="form-control" type="text">

        <input class="form-control " type="number">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Année</label>
        </div>
    </div>






    <div class="input-group mb-3 mx-auto">
        <div class="input-group-prepend">
            <label class="input-group-text" for="platMidi1">Plat</label>
        </div>
        <input style="width: 25%;" class="form-control" type="text">

        <input class="form-control " type="number">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Année</label>
        </div>
    </div>

</fieldset>


<fieldset>
    <legend>Soir</legend>


</fieldset>












<div class="input-group mb-3 mx-auto">
    <div class="input-group-prepend">
        <label class="input-group-text" for="platMidi1">Plat</label>
    </div>
    <input style="width: 25%;" class="form-control" type="text">

    <input class="form-control " type="number">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Année</label>
    </div>
</div>

<div class="input-group mb-3 mx-auto">
    <div class="input-group-prepend">
        <label class="input-group-text" for="platMidi1">Plat</label>
    </div>
    <input style="width: 25%;" class="form-control" type="text">

    <input class="form-control " type="number">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Année</label>
    </div>
</div>